@import url('https://fonts.googleapis.com/css?family=Montserrat');


body{
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	text-align: center;
}

p{
	font-size: 15px;
}

#calendar{
    width: 80%;
    margin-left: 10%;
}

#calendar .week{
    height: 90px;
    text-align: left;
}

#calendar td{
    width: 150px;
}

.day_this_month{
    background-color: #8BD6FD;
}

.day_wrong_month{
    background-color: #eee;
}

#calendar .date{
    position: relative;
    top: -40px;
    left: 85%;
    margin-bottom: -10px;
}

#popUp{
    display: none;
    width: 100%;
    background-color: #555;
    color: #fff;
    border-radius: 15px;
}

#registering{
    display: none;
    width: 100%;
    background-color: #555;
    color: #fff;
    border-radius: 15px;
}

#loggingin{
    display: none;
    width: 100%;
    background-color: #555;
    color: #fff;
    border-radius: 15px;
}

#loggingout{
    display: none;
    width: 100%;
    background-color: #555;
    color: #fff;
    border-radius: 15px;
}

#addingCategory{
    display: none;
    width: 100%;
    background-color: #555;
    color: #fff;
    border-radius: 15px;
}

#popUp h3{
    font-size: 16px;
    margin-top: 0;
}

.time{
    margin: 5px 0 0 10px;
    font-size: 10px;
}

.loc, .event_name{
    color: #333;
    margin: 0 0 0 10px;
    font-size: 10px;
}


.plus{
    display: none;
    height: 20px;
    position: relative;
    left: calc(90% - 10px);
    top: -30px;
    opacity: .7;
}

.event_name:hover{
    cursor: pointer;
    color: #ae184f;
}

.addCategory{
    position:absolute;
    top:8px;
    left: 10px;
}
.login, .logout{ 
    position:absolute;
    top:10px;
    right: 10px;
 }

 .register{
     position: absolute;
     top:35px;
     right: 10px;
 }

.logout{
    display: none;
}


#label{
    margin-top: -20px;
    color: #ae184f;
    opacity: .7;
}
